/* Main styles */
body {
	font-family: "PT-Sans", sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
.container {
	width: 1160px;
	margin: 85px auto 105px auto;
	padding: 0 63px 0 67px;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.container > .left-side {
	width: 445px;
	margin-right: 60px;
	padding-top: 6px;
	float: left;	
}
.container > .left-side > div[class^="developer"]:not(.developer-card) {
	padding-right: 20px;
}
.container > .right-side {
	width: 655px;
	padding-top: 5px;
	float: right;	
}

.developer-card {
	padding-bottom: 36px;
	margin-bottom: 40px;
	
	text-transform: uppercase;
	text-align: center;
	letter-spacing: -2px;
}
.developer-card .developer-photo img{
	width: 210px;
	height: 210px;

	background-color: #3d6cb0;
	border: 15px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #3d6cb0;

}
.developer-card .developer-name{
	padding-top: 29px;

	font-size: 54px;
	line-height: 54px;
}
.developer-card .developer-surname{
	padding-bottom: 5px;

	font-size: 64px;
	line-height: 64px;
	font-weight: bold;
}
.developer-card .developer-job{
	font-size: 26px;
	font-weight: bold;
}
.developer-profile {
	padding-top: 15px;
	margin-bottom: 30px;
}
.developer-profile-desc {
	margin: 0;
	padding: 0;

	line-height: 1.2em;
}
div[class^="developer"] > .title {
	margin-bottom: 15px;
}
div[class^="developer"] > .title h2 {
	position: relative;
	margin: 0;
	padding-left: 85px;
	padding-bottom: 11px;

	letter-spacing: -3px;
	color: #3d6cb0;
	font-size: 42px;
	text-transform: uppercase;	
}
div[class^="developer"] > .title h2  span {
	background-color: #fff;
	padding-right: 7px;
}
div[class^="developer"] > .title h2::after {
	content: "";
	position: absolute;
	margin-left: 85px;
	bottom: 0;
	left: 0;
	right: 0;
	top: 37%;
	border-top: 5px solid #3d6cb0;
	z-index: -1;
}
div[class^="developer"] > .title h2::before {
	content: "";
	display: block;
	position: absolute;
	width: 74px;
	height: 74px;
	left: 0;
	top: -11px;

	background-color: #fff;
	background-size: contain;
	background-repeat: no-repeat;
}
/* Картинки для заголовков блоков */
.developer-profile .title h2::before {
	background-image: url(../img/profile-icon.png);
}
.developer-contact .title h2::before {
	background-image: url(../img/phone-icon.png);
}
.developer-skills .title h2::before {
	background-image: url(../img/skills-icon.png);
}
.developer-education .title h2::before {
	background-image: url(../img/education-icon.png);
	width: 76px;
	height: 74px;
}
.developer-experience .title h2::before {
	background-image: url(../img/experience-icon.png);
	width: 79px;
	height: 76px;
}
.developer-software .title h2::before {
	background-image: url(../img/software-icon.png);
	width: 76px;
	height: 74px;
}
.container .right-side div[class^="developer"] > .title h2 {
	padding-left: 96px;
}
.container .right-side div[class^="developer"] > .title h2::after {
	margin-left: 96px; /* margin и padding должны быть равны */
}
.developer-contact {
	padding-top: 11px;
	margin-bottom: 52px;

	font-size: 21px;
}
.developer-contact div.title {
	margin-bottom: 37px;
}
.developer-contact .developer-contact-info {
	display: block;
	position: relative;
	padding-left: 130px;
	margin-bottom: 32px;
}
.developer-contact .developer-contact-info::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;

	color: #3d6cb0;
	font-weight: bold;
	text-transform: uppercase;	
}
.developer-contact .developer-contact-info:nth-of-type(1)::before {
	content: "ADDRESS";
}
.developer-contact .developer-contact-info:nth-of-type(2)::before {
	content: "E-MAIL";
}
.developer-contact .developer-contact-info:nth-of-type(3)::before {
	content: "PHONE";
}
.developer-contact .developer-contact-info:nth-of-type(4)::before {
	content: "WEBSITE";
}
.developer-skills {
	padding-top: 10px;
}
.developer-skills div.title{
	margin-bottom: 30px;
}
.developer-skills .rating-widjet{
	text-align: center;
	margin-bottom: 16px;
}
.developer-skills .raiting-title {
	font-size: 26px;

	text-transform: uppercase;
}
.developer-skills .rating {
	display: inline-block;
	margin-top: 7px;
	width: 338px;

}
.developer-skills .rating span {
	float: right;
	position: relative;
}
.developer-skills .rating span:first-child label {
	margin-right: 0;
}
.developer-skills .rating input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.developer-skills .rating label {
	display: inline-block;
	width: 19px;
	height: 19px;
	text-align: center;
	color: #3d6cb0;
	background-color: #e6e6e6;
	font-size: 20px;
	margin-right: 10px;
	line-height: 20px;
	border-radius: 50%;
}
.developer-skills .rating span:hover ~ span label,
.developer-skills .rating span:hover label,
.developer-skills .rating input:checked label,
.developer-skills .rating input:checked ~ span label {
	background-color: #3d6cb0;
	color: #fff;
}
.developer-education,
.developer-experience {
	margin-bottom: 67px;
}
.developer-education div.title {
	margin-bottom: 32px;
}
.developer-experience div.title {
	margin-bottom: 49px;
}
.developer-education .topic-title,
.developer-education .subtitle,
.developer-experience .topic-title,
.developer-experience .subtitle
 {
	margin: 0;
	padding: 0;

	font-size: 26px;
}
.developer-education .topic-title {
	margin-bottom: 6px;
	color: #3d6cb0;;
}
.developer-experience .topic-title {
	margin-bottom: 6px;
}
.developer-education .topic-title span,
.developer-experience .topic-title span {
	padding-left: 7px;
	font-weight: normal;
	text-transform: none;
	color: #000;
}
.developer-education .developer-education-topic,
.developer-experience .developer-experience-topic {
	padding-left: 56px;
	position: relative;
}
.developer-education .developer-education-topic::before,
.developer-experience .developer-experience-topic::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: 4px;
	left: 12px;

	background-color: #000;
	border-radius: 50%;
}
.developer-education .developer-education-topic p,
.developer-experience .developer-experience-topic p {
	margin: 0;
	padding: 0;
	margin-top: 8px;
	margin-bottom: 15px;
}
.developer-software div.title {
	margin-bottom: 32px;
}
.developer-software .developer-software-content > .left-side {
	width: 358px;
	float: left;
	margin-left: 8px;
}
.developer-software .developer-software-content > .right-side {
	width: 289px;
	float: right;
}
.developer-software .software-item {
	position: relative;
	margin-bottom: 61px;

	font-size: 26px;
}
.developer-software .software-item::after {
	content: "";
	position: absolute;
	top: 43px;
	left: 0;
	width: 286px;
	height: 23px;
}
.developer-software .left-side .software-item:nth-child(2)::after,
.developer-software .right-side .software-item:nth-child(2)::after{
	top: 42px;
}
.developer-software .left-side .software-item:nth-child(3)::after,
.developer-software .right-side .software-item:nth-child(3)::after{
	top: 38px;
}
.developer-software .left-side .software-item:nth-child(1)::after {
	background-image: linear-gradient(to right, #3d6cb0 91%, #e6e6e6 91%);
}
.developer-software .left-side .software-item:nth-child(2)::after {
	background-image: linear-gradient(to right, #3d6cb0 70%, #e6e6e6 70%);
}
.developer-software .left-side .software-item:nth-child(3)::after {
	background-image: linear-gradient(to right, #3d6cb0 56%, #e6e6e6 56%);
}
.developer-software .right-side .software-item:nth-child(1)::after {
	background-image: linear-gradient(to right, #3d6cb0 82%, #e6e6e6 82%);
}
.developer-software .right-side .software-item:nth-child(2)::after {
	background-image: linear-gradient(to right, #3d6cb0 61%, #e6e6e6 61%);
}
.developer-software .right-side .software-item:nth-child(3)::after {
	background-image: linear-gradient(to right, #3d6cb0 91%, #e6e6e6 91%);
}