mixin developer-skills(blockname, list)
    include ../block-header/block-header.pug
    include ../skills-item/skills-item.pug
    section.developer-skills
        +block-header(blockname)
        each skill in list.skills
            +skills-item(skill.name, skill.value)