include ../header/header.pug
include ../skills-item/skills-item.pug
mixin developer-skills(params)
    - var items = params.skillsItems ? params.skillsItems : [];
    section.developer-skills
        .developer-skills__header
            +header(params.headerName, params.headerTheme)
        each item in items
            .developer-skills__item
                +skills-item(item.name, item.value)