mixin developer-skills(blockname, blocktheme, list)
    include ../header/header.pug
    include ../skills-item/skills-item.pug
    section.developer-skills
        .developer-skills__header
            +header(blockname, blocktheme)
        each skill in list.skills
            .developer-skills__item
                +skills-item(skill.name, skill.value)