.developer-software
	include ../block-header/block-header.pug
	include ../software-item/software-item.pug
	+block-header('Software')
	+software-item('Photoshop')
	+software-item('ILLUSTRATOR')
	+software-item('INDESIGN')
	+software-item('DREAMWEAVER')
	+software-item('AFTER EFFECTS')
	+software-item('HTML&amp;CSS3')