mixin developer-software(blockname, list)
    include ../header/header.pug
    include ../software-item/software-item.pug
    section.developer-software.clearfix
        +header(blockname)
        .developer-software__left-column
            each item in list.software.left
                +software-item(item.name, item.value)
        .developer-software__right-column
            each item1 in list.software.right
                +software-item(item1.name, item1.value)
