doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        meta(name="description" content="Developer's cv page")
        meta(name="keywords" content="cv, developer, photo, contact, skills, education, experience, sofware")
        meta(name="author" content="Lamonov Maks")
        title CV
        link(rel="apple-touch-icon", sizes="180x180", href="favicons/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="favicons/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="favicons/favicon-16x16.png")
        link(rel="manifest", href="favicons/manifest.json")
        link(rel="mask-icon", href="favicons/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="theme-color", content="#ffffff")
    body
        include ../blocks/developer-card/developer-card.pug
        include ../blocks/developer-profile/developer-profile.pug
        include ../blocks/developer-contact/developer-contact.pug
        include ../blocks/developer-skills/developer-skills.pug
        include ../blocks/developer-education/developer-education.pug
        include ../blocks/developer-experience/developer-experience.pug
        include ../blocks/developer-software/developer-software.pug
        -var data = require('./data.json')
        main.layout.clearfix
            .left-column
                +developer-card(data)
                +developer-profile("Profile", data)
                +developer-contact("Contact", data)
                +developer-skills("Skills", data)
            .right-column
                +developer-education("Education", data)
                +developer-experience("Experience", data)
                +developer-software("Software", data)