doctype html
html
	head
		meta(charset="UTF-8")
		title Main page
	body
		.layout.clearfix
			.left-column
				include ../blocks/developer-card/developer-card.pug
				include ../blocks/developer-profile/developer-profile.pug
				include ../blocks/developer-contact/developer-contact.pug
				include ../blocks/developer-skills/developer-skills.pug
			.right-column
				include ../blocks/developer-education/developer-education.pug
				include ../blocks/developer-experience/developer-experience.pug
				include ../blocks/developer-software/developer-software.pug