@import "../node_modules/normalize-css/normalize.css";
@import (reference) "clearfix.less";
html {
    font-size: 17px;
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
    @media screen and (max-width: 1920px) {
        font-size: 18px;
    }
    @media screen and (max-width: 1324px) {
        font-size: 16px;
    }
    @media screen and (max-width: 1024px) {
        font-size: 14px;
    }
    @media screen and (max-width: 860px) {
        font-size: 14px;
    }
    @media screen and (max-width: 450px) {
        font-size: 12px;
    }
}
.layout {
    &:extend(.clearfix all);
    width: 100%;
    max-width: 1236px;
    margin: 6.3% auto 6.3% auto;
    @media screen and (max-width: 1250px) {
        width: 95%;
    }
    @media screen and (max-width: 860px) {
        width: 100%;
    }
    &-left-column {
        width: 36.8%;
        margin-right: 6.79%;
        float: left;
        &__item {
            margin-bottom: 15.5%;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media screen and (max-width: 860px) {
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            float: none;
            &__item {
                margin-bottom: 10.3%;
                &:last-child {
                    margin-bottom: 10.3%;
                }
            }
        }
        @media screen and (max-width: 450px) {
            width: 90%;
            &__item {
                margin-bottom: 15.5%;
                &:last-child {
                    margin-bottom: 15.5%;
                }
            }
        }
        @media screen and (max-width: 368px) {
            width: 97%;
        }
    }
    &-right-column {
        width: 56.4%;
        float: right;
        &__item {
            margin-bottom: 10.1%;
            &:first-child {
                padding-top: 1.8rem;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media screen and (max-width: 860px) {
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            float: none;
            &__item {
                margin-bottom: 10.3%;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        @media screen and (max-width: 450px) {
            width: 90%;
            &__item {
                margin-bottom: 15.5%;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        @media screen and (max-width: 368px) {
            width: 97%;
        }
    }
}