include ../header/header.pug
include ../contact-item/contact-item.pug
mixin developer-contact(blockname, blocktheme, list)
    section.developer-contact
        .developer-contact__header
            +header(blockname, blocktheme)
        each contact in list.contacts
            .developer-contact__item
                +contact-item(contact.name, contact.value, contact.type, contact.typevalue)