mixin developer-card(list)
    section.developer-card
        .developer-card__photo
            img(src=""+list.card.image+"" alt="developer's avatar")
        .developer-card__name=list.card.name
        .developer-card__surname=list.card.surname
        .developer-card__job=list.card.job