mixin developer-card(data)
    section.developer-card
        .developer-card__photo
            img.developer-card__image(src=data.card.image alt="developer's avatar")
        .developer-card__name=data.card.name
        .developer-card__surname=data.card.surname
        .developer-card__job=data.card.job