include ../header/header.pug
include ../list-item/list-item.pug
mixin developer-education(params)
    -var items = params.educationItems ? params.educationItems : [];
    section.developer-education
        .developer-education__header
            +header(params.headerName, params.headerTheme)
        each item in items
            .developer-education__item
                +list-item(item.name, item.titletheme, item.date, item.subtitle, item.description)