mixin developer-profile(blockname, list)
    include ../block-header/block-header.pug
    section.developer-profile
        +block-header(blockname)
        p.developer-profile__description=list.profile.text
            b=list.profile.majortext