include ../header/header.pug
mixin developer-profile(params)
    section.developer-profile
        .developer-profile__header
            +header(params.headerName, params.headerTheme)
        p.developer-profile__description=params.profileInformation.text
            b=params.profileInformation.majorText