include ../header/header.pug
include ../list-item/list-item.pug
mixin developer-experience(params)
    -var items = params.experienceItems ? params.experienceItems : [];
    section.developer-experience
        .developer-experience__header
            +header(params.headerName, params.headerTheme)
        each item in items
            .developer-experience__item
                +list-item(item.name, item.titleTheme, item.date, item.subtitle, item.description)