mixin developer-experience(blockname, blocktheme, list)
    include ../header/header.pug
    include ../list-item/list-item.pug
    section.developer-experience
        .developer-experience__header
            +header(blockname, blocktheme)
        each item in list.experience
            .developer-experience__item
                +list-item(item.name, item.titletheme, item.date, item.subtitle, item.description)