mixin developer-experience(blockname, list)
    include ../header/header.pug
    include ../list-item/list-item.pug
    section.developer-experience
        +header(blockname)
        each item in list.experience
            +list-item(item.name, item.date, item.subtitle, item.description)