mixin software-item(title,value)
    -var title = title ? title : "title";
    -var value = value ? value : 50;
    section.software-item
        h3.software-item__title=title
        .software-item__value(style={width:""+value+"%"})