mixin list-item(title,date,subtitle,description)
    .list-item
        h3.list-item__title=title
            span=date
        span.list-item__subtitle=subtitle
        p.list-item__description=description