@import (reference) "../../frontend/shared/clearfix.less";
.contact-item{
    &:extend(.clearfix all);
    font-size: 1.33em;
    &__name {
        float: left;
        width: 31%;
        word-wrap: break-word;
        text-transform: uppercase;
        font-weight: bold;
        color: #3d6cb0;
    }
    &__link {
        text-decoration: none;
        color: #000;
        word-wrap: break-word;
        &:link {
            color: #000;
        }
        &:visited {
            color: #7E0027;
        }
        &:hover {
            color: #2D587B;
        }
        &:active {
            color: #184169;
        }        
    }
}